#centralwidget, #panel6, #panel7 {
    background-color: #333333;
}

#appLabel, #info, #status, #userUsername {
    color: white;
}

#panel4 {
    border: 2px solid white;
    background-color: #222222;
}

#sidebarApps, #sidebarInstalled, #sidebarAbout, #userAccount {
	width: 100%;
	border: none;
	border-radius: 0px;
    margin: 4px;
}

#sidebarApps, #sidebarInstalled, #sidebarAbout {
    background-color: #00aaff;
}

#sidebarApps:pressed, #sidebarInstalled:pressed, #sidebarAbout:pressed {
    background-color: #4dc3ff;
}

#userAccount {
	background-color: #33dd88;
}

#userAccount:pressed {
	background-color: #74e8ae;
}